.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .cart-btn,
.nav .auth-btn {
    border: 1px solid #ccc;
    padding: 8px 14px;
    background-color: unset;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.nav .auth-btn {
    overflow: hidden;
}

.nav .cart-btn i {
    position: relative;
    color: #ffebee;
    margin-right: 5px;
    vertical-align: -3px;
    font-size: 18px;
}

.nav .auth-btn::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1;
}

.nav .auth-btn:hover::after {
    transform: translateX(0);
}

.cart-badge {
    position: absolute;
    top: -8px;
    left: 13px;
    width: 20px;
    height: 20px;
    background-color: #d045a5;
    color: #fff;
    border-radius: 100%;
    font-size: 9px;
    text-align: center;
    line-height: 21px;
}

.dropdown-cart {
    position: absolute;
    max-width: 450px;
    width: 380px;
    min-height: 50px;
    right: 0;
    background: #fff;
    color: #000;
    top: 48px;
    border-radius: 2px;
    box-shadow: 0 0 4px rgb(0 0 0 / 20%);
    cursor: default;
    z-index: 111;
}

.dropdown-cart::before {
    content: "";
    top: -16px;
    right: 36px;
    z-index: 1;
    position: absolute;
    border: 8px solid #fff;
    border-color: transparent transparent #fff transparent;
}

.dropdown-cart .productItem {
    display: flex;
    padding: 15px;
    align-items: center;
    position: relative;
    font-size: 12px;
}

.dropdown-cart .productItem .close {
    position: absolute;
    left: 15px;
    font-size: 24px;
    color: #555;
    cursor: pointer;
}

.dropdown-cart .productItem .title {
    margin: 0 10px 0 20px;
}

.dropdown-cart .productItem .close:hover {
    color: rgb(231, 40, 40);
}

.inner-nav a {
    display: inline-block;
    margin: 0 15px;
    font-size: 14px;
    padding-bottom: 3px;
    color: #fff;
    transition: border-bottom .2s ease;
    overflow: hidden;
    position: relative;
}

.inner-nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: translateX(110%);
    transition: transform .2s;
}

.inner-nav a:hover::after {
    transform: translateX(0);
}

.inner-nav a.active::after{
    transform: translateX(0);
}

.hide {
    display: none;
}

.show {
    display: block;
}

